{{#each posts as |post|}}
<section class="card">
  <a href="/post/{{id}}">
    <header class="card-header">{{title}}</header>
  </a>
  <div class="card-body">
    <p>{{ format_date date_created }} by {{ user.username }}</p>
    <p>{{ content }}</p>
  </div>

</section>
{{/each}}